# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/

# OS-specific files
.DS_Store
.Trashes
Thumbs.db

# IDE-specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Environment variables
.env
.venv

# Logs
*.log

# Database
*.sqlite3
/db/*.sqlite3

# Other
.agent.md
node_modules/